language: python
python: 2.6
dist: trusty
env:
  matrix:
    - ENV_MOD_VERSION=3.2.10 EASYBUILD_MODULES_TOOL=EnvironmentModulesC EASYBUILD_MODULE_SYNTAX=Tcl
    - LMOD_VERSION=6.6.3
matrix:
  # mark build as finished as soon as job has failed
  fast_finish: true
addons:
  apt:
    packages:
      - tcl8.5
      # for testing OpenMPI-system*eb we need to have Open MPI installed
      - libopenmpi-dev
      - openmpi-bin
install:
    # install easybuild-framework (and dependencies)
    # prefer clone & easy_install over easy_install directly in order to obtain information of what was installed exactly
    # use framework 'develop' branch, except when testing 'main'
    - BRANCH=develop
    - if [ "x$TRAVIS_BRANCH" = 'xmain' ]; then BRANCH=main; fi
    - if [ "x$TRAVIS_BRANCH" = 'x4.x' ]; then BRANCH=4.x; fi
    - echo "Using easybuild-framework branch $BRANCH (\$TRAVIS_BRANCH $TRAVIS_BRANCH)"
    - git clone -b $BRANCH --depth 10 --single-branch https://github.com/easybuilders/easybuild-framework.git
    - cd easybuild-framework; git log -n 1; cd -
    - pip install $PWD/easybuild-framework
    # install environment modules tool using 'install_eb_dep.sh' script provided by easybuild-framework
    - if [ ! -z $ENV_MOD_VERSION ]; then source $(which install_eb_dep.sh) modules-${ENV_MOD_VERSION} $HOME; fi
    - if [ ! -z $LMOD_VERSION ]; then source $(which install_eb_dep.sh) lua-5.1.4.8 $HOME; fi
    - if [ ! -z $LMOD_VERSION ]; then source $(which install_eb_dep.sh) Lmod-${LMOD_VERSION} $HOME; fi
script:
    # make sure 'ml' alias is defined, otherwise sourcing the init script fails (silently) for Lmod (< 5.9.3)
    - if [ ! -z $MOD_INIT ] && [ ! -z $LMOD_VERSION ]; then alias ml=foobar; fi
    # set up environment for modules tool (if $MOD_INIT is defined)
    - if [ ! -z $MOD_INIT ]; then source $MOD_INIT; type module; fi
    # actively break "import setuptools" and "import pkg_resources",
    # since EasyBuild should not have a runtime requirement on setuptools
    - mkdir -p /tmp/$TRAVIS_JOB_ID
    - echo 'raise ImportError("setuptools should no longer be relied on")' > /tmp/$TRAVIS_JOB_ID/setuptools.py
    - echo 'raise ImportError("setuptools should no longer be relied on")' > /tmp/$TRAVIS_JOB_ID/pkg_resources.py
    - export PYTHONPATH=$TRAVIS_BUILD_DIR:/tmp/$TRAVIS_JOB_ID:$PYTHONPATH
    - python -O -m test.easyblocks.suite
    # check for packaging issues by installing easybuild-easyblocks repo,
    # and checking whether "eb --list-easyblocks" works as expected
    - unset PYTHONPATH
    - cd $TRAVIS_BUILD_DIR; pip install .
    # make sure correct 'python' command is used
    # 'python2' may also be available, and is picked prior to 'python'
    - export EB_PYTHON=python
    - cd $HOME; eb --list-easyblocks > eb_list_easyblocks.out
    - grep 'ConfigureMake\>' eb_list_easyblocks.out && grep EB_GCC eb_list_easyblocks.out
